<!DOCTYPE html>
<html>
<head>

    <title>AI Resume Agent</title>

    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<nav class="navbar">

    <div class="logo">
        🤖 AI Resume Agent
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/chat">AI Chat</a>
    </div>

</nav>

{% block content %}
{% endblock %}

</body>
</html>
